.alert {
  position: relative;
  max-width: 313px;
  padding: 13px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  border-radius: 5px;

  &__title {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;

    margin: 0;
  }

  &__text {
    margin: 10px 0 0;
    font-size: 13px;
    line-height: 16px;
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
  }

  &--dark {
    background-color: $blue;
    color: white;

    svg {
      fill: $blue;
    }

    .alert__close-btn {
      background-color: $white;
    }
  }

  &--light {
    background-color: $white;
    border: 1px solid rgba(224, 224, 224, 0.15);

    .alert__close-btn {
      background-color: #E0E0E0;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    &--1 {
      margin-right: auto;
    }

    &--2 {
      width: 90px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 1px;
        border-left: 1px solid rgba($color: #fff, $alpha: 0.3);
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        height: 1px;
        width: 90px;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
      }
    }
  }

  &__exclamation {
    font-weight: bold;
    top: 10px;
    left: 10px;
    width: 22px;
    height: 22px;
    margin-right: 9px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
  }

  &__open-btn,
  &__dismiss-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
  }

  &__open-btn {
    font-weight: bold;
    margin-bottom: 18px;
  }

  &__dismiss-btn {
    opacity: 0.5;
  }
}


.alert-with-btns {
  display: flex;
  padding: 10px 0 10px 10px;

  &--dark {
    background-color: $red;
    color: $white;

    .alert__exclamation {
      background-color: $white;
      color: #000000;
    }

    .alert__dismiss-btn {
      opacity: 1;
    }
  }

  &--light {
    .alert__exclamation {
      background-color: $red;
      color: $white;
    }

    .alert__col--2 {
      &::before {
        border-left: 1px solid rgba($color: #E0E0E0, $alpha: 0.5);
      }
    }

    .alert__col--2 {
      &::after {
        border-bottom: 1px solid rgba($color: #E0E0E0, $alpha: 0.5);
      }
    }
  }
}
