.input {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 0 40 px;

  input,
  select {
    font-size: 13px;
    line-height: 16px;

    width: 100%;
    height: 37px;
    padding: 0 12px;

    color: $black;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    outline: none;

    &::placeholder {
      color: $grey;
    }
  }

  input:focus {
    border-color: $blue;
  }

  label {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;

    margin-bottom: 7px;
  }

  select {
    color: $grey;
    -webkit-appearance: none;
    background-image: url("../img/select-down.svg");
    background-repeat: no-repeat;
    background-position: 230px center;
    cursor: pointer;
  }
}


input:invalid {
  color: $red;
  background-color: rgba(255, 62, 29, 0.06);
  border: 1px solid $red;

  &:focus {
    border-color: $red;
  }
}

input:disabled {
  color: $grey;
  background-color: rgba(224, 224, 224, 0.3);
}


.input-serch {
  position: relative;


  label {
    content: "";
    position: absolute;

    width: 15px;
    height: 15px;
    margin: 0;

    svg {
      color: $grey;
    }
  }
}


.input-serch--left {
  input {
    padding-left: 37px;
  }


  label {
    left: 13px;
    top: 12px;
   }
}

.input-serch--right {
  position: relative;

  label {
    right: 10px;
    top: 12px;
  }
}


.input--web {
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  input {
    padding-left: 70px;
  }

  label {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    margin: 0;
    background-color: rgba(224, 224, 224, 0.3);
    color: $grey;
  }
}
