.layout {
  display: flex;

  p, label {
    margin-right: 16px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.layout-1 {
  display: flex;
  flex-wrap: wrap;

  &__part {
    display: flex;
    flex-direction: column;

    margin-right: 24px;

    &:last-of-type {
      margin-right: 0;
    }

    .btn {
      margin-bottom: 24px;
    }

    .tabs {
      margin-bottom: 24px;
    }
  }
}
