.litepicker .container__months .month-item {
  padding: 14px;
  max-width: 199px;
}

.litepicker .container__months {
  max-width: 227px;
}


.litepicker .container__days>div, .litepicker .container__days>a {
  width: 28px;
  height: 28px;
}

.litepicker .container__days .day-item.is-start-date.is-end-date {
  border-radius: 50%;

  &::after {
    display: none;
  }
}

.litepicker .container__days .day-item.is-start-date {
  border-radius: 50%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 14px;

    width: 14px;
    height: 28px;
    background-color: $blue;
    opacity: 0.2;
  }
}

.litepicker .container__days .day-item.is-start-date.is-flipped {
  border-radius: 50%;
}

.litepicker .container__days .day-item.is-end-date {
  border-radius: 50%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 14px;

    width: 14px;
    height: 28px;
    background-color: $blue;
    opacity: 0.2;
  }
}

.litepicker .container__days .day-item.is-end-date.is-flipped {
  border-radius: 50%;
}

.litepicker .container__days .day-item:hover {
  // border-radius: 50%;
  border-radius: 3px;
}

.litepicker .container__months .month-item-weekdays-row>div {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: $black;
}


.litepicker .container__days .day-item.is-in-range {
  background-color: rgba($color: #18A0FB, $alpha: 0.2);
}


.litepicker .container__months .month-item-header  {
  background-color: rgba($color: #18A0FB, $alpha: 0.1);
  border-radius: 5px;
}


.litepicker .container__months {
  border-radius: 10px;
}
