.pagination-1 {
  display: flex;
  align-items: center;
  gap: 11px;


  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    background: rgba(224, 224, 224, 0.3);
    border: none;

    svg {
      fill: transparent;
    }

    &--prev {
      svg {
        color: $grey;
        transform: rotate(180deg);
      }
    }

    &--next {
      background: $blue;
      color: $white;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $blue;
  }

  &--round {
    .pagination-1__btn {
      border-radius: 50%;
    }
  }
}


.pagination-3 {
  display: flex;
  align-self: center;

  &__list {
    @include list-reset;
    display: flex;
    margin: 0 25px;
  }

  &__item {
    margin-right: 16px;

    &:last-of-type{
      margin-right: 0;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $grey;
    transition: opacity $transition-props;

    &.active {
      color: $blue;
      opacity: 1;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  svg {
    fill: transparent;
    color: $grey;
  }

  &__btn {
    background-color: transparent;
    border: none;
    transition: opacity $transition-props;

    &:hover {
      opacity: 0.5;
    }

    &--prev {
      transform: rotate(180deg);
    }

    &--next {
      svg {
        color: $blue;
        opacity: 1;
      }
    }
  }
}
