.popup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 313px;
  padding: 16px;

  border: 1px solid rgba(224, 224, 224, 0.15);
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: $white;

  &__title,
  &__text {
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 10px;
  }

  &__close-btn {
    @include button-reset;
    position: absolute;
    right: 17px;
    top: 17px;

    transition: opacity $transition-props;

    &:hover {
      opacity: 0.5;
    }
  }

  &__btns {
    display: flex;
    align-self: flex-end;
    margin-top: 14px;
  }

  &__btn {
    @include button-reset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;

    font-size: 13px;
    line-height: 16px;

    border-radius: 5px;

    transition: opacity $transition-props;

    &:hover {
      opacity: 0.5;
    }

    &--cancel {
      width: 70px;
      margin-right: 4px;
      border: 1px solid #E0E0E0;
    }

    &--submit {
      width: 92px;
      background-color: #18A0FB;
      color: $white;
    }
  }
}
