.choices {
  margin-bottom: 0;
}

.choices__inner {
  min-height: 37px;
  background-color: $white;
  border-radius: 4px;
  font-size: 13px;
  line-height: 16px;

  color: $grey;
}


.choices__list--single {
  padding: 0 16px 0 4px;
}


.choices[data-type*=select-one]:after {
  right: 17px;
  border: none;

  height: 6px;
  width: 12px;

  background-image: url("../img/select-down.svg");
}


.choices[data-type*='select-one'].is-open:after {
  margin-top: -3px;
  transform: rotate(180deg);
}
