.tab {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px 6px;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  color: $black;
  margin-right: 16px;
  margin-bottom: -1px;
  transition: opacity $transition-props;

  &:hover {
    opacity: 0.5;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    border-bottom: 2px solid $blue;
    opacity: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &.active {
    color: $blue;

    &::after {
      opacity: 1;
    }
  }

  svg {
    fill: transparent;
    margin-right: 4px;
  }
}
