.table {
  max-width: 804px;
  width: 100%;

  background: $white;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  border-spacing: 0;
  overflow: hidden;

  thead {
    @include mobile {
      display: none;
    }
  }

  tr {
    @include mobile {
      display: block;
      padding-top: 15px;
    }
  }

  th {

    height: 48px;
    padding: 0 12px;
    background-color: #F7F7F7;

    font-weight: 600;
    font-size: 13px;
    line-height: 100%;

    text-align: left;
    box-shadow: inset 0px -1px 0px #E0E0E0;

    &:first-child {
      width: 400px;
    }

  }

  td {
    height: 48px;
    padding: 0 12px;

    font-weight: normal;
    font-size: 13px;
    line-height: 100%;

    &:nth-child(2) {
      opacity: 0.5;
    }

    &:last-of-type {
      text-align: right;
    }

    @include mobile {
      display: flex;
      justify-content: space-between;

      &::before {
        content: attr(data-label);
      }
    }
  }

  tr {
    box-shadow: inset 0px -1px 0px #E0E0E0;
    transition: background-color $transition-props;

    &:last-of-type {
      box-shadow: none;
    }

    &:hover {
      background-color: rgba($color: #FFD422, $alpha: 0.1);
    }
  }

  &__btn {
    @include button-reset;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
  }

  &__dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 2px;
    border-radius: 50%;
    background-color: #E0E0E0;

    &:last-of-type {
      margin-right: 0;
    }
  }
}


.table--with-checkbox {

  tr {
    @include mobile {
      padding-top: 0;
    }
  }

  th {
    &:first-child {
      width: auto;
    }
  }

  td {
    &:nth-child(2) {
      opacity: 1;
    }
  }

  td:nth-child(4) {
    opacity: 0.5;
  }

  label {
    position: relative;
    display: block;
  }

  label::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;

    @include mobile {
      right: -10px;
      left: auto;
    }
  }

  label::after {
    display: none;
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 8px;
    background-image: url("../img/checkbox.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include mobile {
      left: auto;
      right: -4px;
    }
  }

  input:indeterminate + label::after {
    display: block;
    background-image: url("../img/minus.svg");
    background-position: center;
  }

  input:indeterminate + label::before {
    border-color: $blue;
    background-color: $blue;
  }

  input:checked + label::before {
    border-color: $blue;
    background-color: $blue;
  }

  input:checked + label::after {
    display: block;
  }
}
