.textarea {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 0 40px;

  textarea {
    font-size: 13px;
    line-height: 16px;

    width: 100%;
    min-height: 97px;
    padding: 10px 16px;

    color: $black;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    outline: none;

    &::placeholder {
      color: $grey;
    }
  }

  textarea:invalid {
    color: $red;
    background-color: rgba(255, 62, 29, 0.06);
    border: 1px solid $red;
  }

  label {
    margin-bottom: 8px;
  }
}
