$desktop-l: 1439px;
$desktop-m: 1023px;
$tablet-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font: "Inter", "Arial", sans-serif;

$transition-props: 0.2s ease;

$black: #2C2C2C;
$white: #ffffff;
$grey: rgba(44, 44, 44, 0.5);
$blue: #18A0FB;
$red: #FF3E1D;
$green: #00D200;
$yellow: #FFD422;
